* {
	color: #bd27ff;
	background-color: #000000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	cellspacing: 0;
	cellpadding: 0;
	line-height: 40px;
}

.error {
	color: #ffffff;
	font-size: 20px;
}

.in {
	color: #ffffff;
}

.geral {
	width: 100%;
	text-align: center;
	height: 800px;
	align: center;
	vertical-align: middle;
}

.geral-home {
	width: 100%;
	text-align: left-center;
	height: 800px;
	align: center;
}

#info {
	color: #ffffff;
}

#info a {
	color: #ffffff;
	text-decoration: none;
}

#case img {
	box-shadow: 0px 0px 28px 12px #8240ff;
	width: 500px;
	height: 700px;
}

.details {
	text-align: left;
	vertical-align: top;
	font-size: 30px;
	text-align: justify;
	padding-right: 30px;
}

.buttons {
	width: 80px;
	vertical-align: bottom;
	width: 300px;
}

.back-button {
	width: 80px;
	vertical-align: top;
}

.header {
	font-size: 40px;
	height: 60px;
	vertical-align: top;
}

.save-button {
	vertical-align: bottom;
	text-align: center;
	width: 100px;
	border: none;
}

.delete-button {
	vertical-align: bottom;
	text-align: center;
	width: 100px;
	border: none;
}

#div-save {
	position: relative;
	left: 1100px;
	top: 30px;
}

.itens {
	text-align: left;
	font-size: 30px;
	line-height: 80px;
	vertical-align: top;
	width: 700px;
}

.itens-edit {
	text-align: left;
	font-size: 30px;
	line-height: 80px;
	vertical-align: top;
	width: 700px;
}

.itens-edit input {
	vertical-align: middle;
	border-radius: 4px;
	border: solid 1px #8240ff;
	font-size: 20px;
	color: #ffffff;
	width: 70%;
}

.itens input {
	vertical-align: middle;
	border-radius: 4px;
	border: solid 1px #8240ff;
	font-size: 20px;
	color: #ffffff;
	width: 70%;
}

.estante {
	position: relative;
	width: 800px;
	height: 630px;
	text-align: left-center;
	box-shadow: 0px 0px 28px 12px #8240ff;
}

#objeto {
	width: 150px;
	height: 190px;
	padding: 20px;
}

#add-button {
	vertical-align: middle;
	padding-right: 70px;
}

.borda-home {
	width: 100px;
}